In [1]:
import pandas as pd
import numpy as np
import pickle
from typing import Optional, Union, Tuple
from cmapPy.pandasGEXpress.parse import parse
import numpy as np
import json
from collections import Counter
import sys
from numpy.core.multiarray import ndarray
import sys

/Users/dweepa/anaconda/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [45]:
drugbank = pd.read_csv("Final/drugbank.csv",low_memory=False)
meta = pd.read_csv("Final/meta.csv",low_memory=False)
atc = pd.read_csv("Final/atc.csv",low_memory=False)

In [46]:
print("Total: ",len(list(meta.name)))
print("Unique: ",len(np.unique(list(meta.name))))
meta.head(2)

Total:  2170
Unique:  1826

,smiles,name,id,inchi_key
0,CCN(CC)CCCCN1C2CCCCC2OC2CCC(CL)CC12,10-DEBC,BRD-K70792160,GYBXAGDWMCJZJK-UHFFFAOYSA-N
1,CCCCCCCCCCCCCC(=O)O[C@@H]1[C@@H](C)[C@]2(O)[C@...,phorbol-myristate-acetate,BRD-K68552125,PHEDXBVPIONUQT-RGYGYFBISA-N

In [47]:
print("Total: ",len(list(atc.name)))
print("Unique: ",len(np.unique(list(atc.name))))
atc.head(2)

Total:  6277
Unique:  5592

          name      atc
0    silicones  A03AX13
1  cefatrizine  J01DB07

In [48]:
print("Total: ",len(list(drugbank.name)))
print("Unique: ",len(np.unique(list(drugbank.name))))
drugbank.head(2)

Total:  13339
Unique:  13339

        name      atc inchi_key smiles
0  lepirudin  B01AE02       NaN    NaN
1  cetuximab  L01XC06       NaN    NaN

## Making the metadata => drugbank correlation

In [61]:
drug_meta = pd.merge(meta,drugbank,how="left")
drug_meta.to_csv("Final/drug_meta.csv",index=False)

In [62]:
print("Total: ",len(list(drug_meta.name)))
print("Unique: ",len(np.unique(list(drug_meta.name))))
drug_meta.head(2)

Total:  2170
Unique:  1826

,smiles,name,id,inchi_key,atc
0,CCN(CC)CCCCN1C2CCCCC2OC2CCC(CL)CC12,10-DEBC,BRD-K70792160,GYBXAGDWMCJZJK-UHFFFAOYSA-N,NaN
1,CCCCCCCCCCCCCC(=O)O[C@@H]1[C@@H](C)[C@]2(O)[C@...,phorbol-myristate-acetate,BRD-K68552125,PHEDXBVPIONUQT-RGYGYFBISA-N,NaN

In [74]:
print("Number of entries: ",len(drug_meta[drug_meta.name=="dexamethasone"].drop_duplicates()))
drug_meta[drug_meta.name=="dexamethasone"].drop_duplicates().head()

Number of entries:  2

,smiles,name,id,inchi_key,atc
475,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,NaN
476,CC1CC2C3CCC4=CC(=O)C=CC4(C)C3(F)C(O)CC2(C)C1(O...,dexamethasone,BRD-A35108200,UREBDLICKHMUKA-UHFFFAOYSA-N,NaN

## Making the metadata => atc correlation

In [63]:
atc_meta = pd.merge(meta,atc,how="left")
atc_meta.to_csv("Final/atc_meta.csv",index=False)

In [64]:
print("Total: ",len(list(atc_meta.name)))
print("Unique: ",len(np.unique(list(atc_meta.name))))
atc_meta.head(2)

Total:  2390
Unique:  1826

,smiles,name,id,inchi_key,atc
0,CCN(CC)CCCCN1C2CCCCC2OC2CCC(CL)CC12,10-DEBC,BRD-K70792160,GYBXAGDWMCJZJK-UHFFFAOYSA-N,NaN
1,CCCCCCCCCCCCCC(=O)O[C@@H]1[C@@H](C)[C@]2(O)[C@...,phorbol-myristate-acetate,BRD-K68552125,PHEDXBVPIONUQT-RGYGYFBISA-N,NaN

In [65]:
print("Number of entries: ",len(atc_meta[atc_meta.name=="dexamethasone"].drop_duplicates()))
atc_meta[atc_meta.name=="dexamethasone"].drop_duplicates().head()

Number of entries:  22

,smiles,name,id,inchi_key,atc
519,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,D07AB19
520,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,C05AA09
521,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,H02AB02
522,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,S01BA01
523,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,D10AA03

## Combining all the three

In [80]:
all3 = pd.merge(drug_meta, atc_meta,  how="outer")
print("Total: ",len(list(all3.name)))
print("Unique: ",len(np.unique(list(all3.name))))
all3.to_csv("Final/all3.csv",index=False)
all3.head(2)

Total:  3153
Unique:  1826

,smiles,name,id,inchi_key,atc
0,CCN(CC)CCCCN1C2CCCCC2OC2CCC(CL)CC12,10-DEBC,BRD-K70792160,GYBXAGDWMCJZJK-UHFFFAOYSA-N,NaN
1,CCCCCCCCCCCCCC(=O)O[C@@H]1[C@@H](C)[C@]2(O)[C@...,phorbol-myristate-acetate,BRD-K68552125,PHEDXBVPIONUQT-RGYGYFBISA-N,NaN

In [82]:
print("Number of entries: ",len(all3[all3.name=="dexamethasone"].drop_duplicates()))
all3[all3.name=="dexamethasone"].head()

Number of entries:  24

,smiles,name,id,inchi_key,atc
475,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,NaN
476,CC1CC2C3CCC4=CC(=O)C=CC4(C)C3(F)C(O)CC2(C)C1(O...,dexamethasone,BRD-A35108200,UREBDLICKHMUKA-UHFFFAOYSA-N,NaN
2401,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,D07AB19
2402,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,C05AA09
2403,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,H02AB02

## Checking for valid ATC codes

In [88]:
print("Total number of rows (includes duplicate perts): ",len(all3))
print(all3.isnull().sum())

Total number of rows (includes duplicate perts):  3153
smiles          0
name            0
id              0
inchi_key       0
atc          2149
dtype: int64

In [93]:
newall = all3.dropna(subset=['atc'])
print("Total: ", len(newall))
print("Unique: ",len(np.unique(list(newall.name))))

Total:  1004
Unique:  770

In [95]:
newall.to_csv("Final/all3_without_nan.csv")

In [96]:
print("Number of entries: ",len(newall[newall.name=="dexamethasone"].drop_duplicates()))
newall[newall.name=="dexamethasone"].head()

Number of entries:  22

,smiles,name,id,inchi_key,atc
2401,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,D07AB19
2402,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,C05AA09
2403,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,H02AB02
2404,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,S01BA01
2405,C[C@@H]1CC2C3CCC4=CC(=O)C=CC4(C)[C@]3(F)[C@@H]...,dexamethasone,BRD-A69951442,UREBDLICKHMUKA-HIERVMNKSA-N,D10AA03

In [98]:
np.unique(list(newall.id)).shape

(782,)